body{
	margin: 0;
	padding: 0;
	width: auto;height: auto;
}
.hide{ display:none;}

.top{
	position: fixed;
	top: 0%;left: 0%;
	width: 100%;height: 10%;
	background-color: orange;
}
.content{
	position: fixed;
	top: 10%;left: 0%;
	width: 100%;height: 80%;
}
.content2{
	position: fixed;
	top: 10%;left: 0%;
	width: 100%;height: 80%;
}
.bottom{
	position: fixed;
	top: 90%;left: 0%;
	width: 100%;height: 10%;
	background-color: orange;
}
.content .middle-bar{
	position: absolute;
	top: 5%;left: 50%;
	width: 2px;height: 90%;
	background-color: #CCCCCC;
	opacity: 0.8;
}
.bar{
	position: absolute;
	top: 100%;left: 0%;
	width: 100%;height: 3px;
	background-color: #7C7C7C;
	opacity: 0.6;
}
.input{
	position: absolute;
	top: 20%;left: 5%;
	width: 40%;height: 30%;
	background-color:white;
	opacity: 0.8;
}
.input-fb{
	position: absolute;
	top: 20%;left: 55%;
	width: 40%;height: 30%;
	background-color: #CCCCCC;
	opacity: 0.8;
}
.login{
	position: absolute;
	top: 0%;left: 1%;
	width: 20%;height: 80%;
}
.register{
	position: absolute;
	top: 0%;left: 25%;
	width: 20%;height: 80%;
	background-image: url(../img/register.png);
	background-size: contain;
	background-repeat: no-repeat;
}
.logo{
	position: absolute;
	top: 85%;left: 2%;
	width: 8%;height: 56%;
	z-index: 3;
	background-image: url(../img/logo2.png);
	background-size: contain;
	background-repeat: no-repeat;
}
.logo-dig{
	position: absolute;
	top: 90%;left: 86%;
	width: 26%;height: 5%;
	z-index: 3;
	background-image: url(../img/logo-digital.png);
	background-size: contain;
	background-repeat: no-repeat;
}
.tb5 {
	border:2px solid #456879;
	border-radius:10px;
	height: 22px;
	width: 180px;
}