#loading {
	z-index:100000;
	margin-left:-80px;
	padding:5px 0 5px 9px;
	background:#ff9933;
	left:50%;
	top:35%;
	margin-left:-30px;
	width:80px;
	color:#fff;
	position:fixed;
	}
	
body{
	width:100%;
	overflow:hidden;	
}

.hide{ display:none;}
.show{display: block;}
.page{
	width:100%;
	height:100%;
	position:absolute;
	text-align:center;
}

.page .wrap{
	width:100%;
	height:100%;
}

.pagelast{ background-color:#ffd5af;}

.page-current{
	z-index:1;
}
.up{
	height:auto;width:25px;
	position:absolute;
	left:50%;
	top:92%;
	margin-left:-12px;
	z-index: 3;
}
.dot {
	height:auto;width:20px;
	position:absolute;
	left:50%;
	top:87%;
	margin-left:-10px;
}

.share-button{
	height:auto;width:auto;
	position:absolute;
	left:50%;
	top:2%;
	margin-left:-150px;
	z-index: 100;
}

.logo{
	height:auto;width:160px;
	position:absolute;
	left:50%;
	top:35%;
	margin-left:-80px;
}

.border{
	border-style: solid;
	border-color: #ffffff;
	border-width:1%;
}
.bg{
	width:100%;height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
}
.bg1{
	position:absolute;
	left:0%;
	top:0%;
	width:98%;height: 32%;
}
.bg2{
	position:absolute;
	left:0%;
	top:33%;
	width:98%;height: 33%;
}
.bg3{
	position:absolute;
	left:08;
	top:67%;
	width:98%;height: 32%;
}
.bg4{
	position:absolute;
	left:0%;
	top:0%;
	width:98%;height: 50%;
}
.bg5{
	position:absolute;
	left:0%;
	top:50%;
	width:49%;height: 49%;
}
.bg6{
	position:absolute;
	left:49%;
	top:50%;
	width:49%;height: 49%;
}
.bar1{
	height:100px;width:100%;
	position:absolute;
	left:0%;
	top:85%;
	/*margin-left:-80px;*/
	/*opacity:0%;*/	
	background-color: #ffffff;

}
.bar2{
	height:90px;width:100%;
	position:absolute;
	left:0%;
	top:63%;
	/*margin-left:-80px;*/
	background-color: #ffffff;

}
.textbox{
	height:50px;width:42%;
	position:absolute;
	right:0%;
	top:75%;
	background-color: #000000;
	z-index: 3;
}
.shadow{
	height:50px;width:42%;
	position:absolute;
	right:2%;
	top:75%;
	background-color: #888888;
	opacity: 0.5;
	-ms-transform: rotate(-5deg);
	-webkit-transform: rotate(-5deg);
	transform: rotate(-5deg);
	z-index: 2;
}
.text1{
	color: #000000;
	font-size: 18px;
	text-align: left;
	margin-left:5px;
}
.text1-1{
	color: #000000;
	font-size: 18px;
	text-align: left;
	margin-left:5px;
}
.text2{
	color: #000000;
	font-size: 18px;
	text-align: center;
	line-height:90px;
}
.text3{
	color: #000000;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	line-height:50px;
}
.logo2{
	height:auto;width:200px;
	position:absolute;
	left:50%;
	top:15px;
	margin-left:-100px;
}
.qr{
	height:auto;width:120px;
	position:absolute;
	left:50%;
	top:194px;
	margin-left:-60px;
	border:3px solid #fff;
	border-radius: 5px;
}
.create{
	height:auto;width:80px;
	position:absolute;
	left:50%;
	top:70%;
	margin-left:-100px;
	z-index: 3;
}
.share{
	height:auto;width:80px;
	position:absolute;
	left:50%;
	top:70%;
	margin-left:20px;
	z-index: 3;
}
.lastpg{
	height:auto;width:240px;
	position:absolute;
	left:50%;
	top:92%;
	margin-left:-120px;
}


/*
	v1.2.0 
*/


.sharediv { 
    width: 100%;  
    z-index: 1000;
    height: 100%;
    position: fixed;
}
.sharediv .bg{
	background-color: #000;
	opacity: 0.5;
}
.phonesize {
	max-width: 360px;
    width: 96%;
    max-height: 540px; 
    height: 96%;
    /*outline: 1px solid #f00;*/
    border:2px solid #FF9934;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-color: #fff;  


}
.phonesize img {
    width: 100%;
}
.phonesize li:nth-child(2){
    text-align: left;
    padding: 15px;
    color: #FF9934;
    width: 90%;
    margin: 0 auto;
    font-size: 24px;
    padding-bottom: 5px;
    padding-left: 0;
    border-bottom: 2px solid #FF9934;
    font-weight: bold;
    font-family: "Helvetica Neue", "Microsoft JhengHei",Helvetica, Arial, sans-serif;

}
.phonesize li:nth-child(3) {
    margin-top: 40px;
}

.phonesize .top {
    width: 100%;
    height: 80px;
    background-color: #ff9933;
}

.phonesize .toplogo {
    height: 100%;
}

.phonesize .top .left{
    width: 100px;
}

.phonesize .top .right {
    position: absolute;
    right: 0;
    top: 0;
    width: 60px;
   
}

.phonesize .cancel {
   
    margin-top: 11px;
    margin-right: 6px;
}


#sharefb, #sharetwitter, #sharecancel, #shareline, .create, .share  {
	cursor: pointer; 
}