.cancel-1 {
    width: 62px;
    height: 27px;
    background: url('../img/button-sprite-1.png');
    background-position: 0 0;
    border: none;
    outline: none;
    cursor: pointer;
}

.cancel-1:hover {
    background: url('../img/button-sprite-2.png');
    background-position: 0 0;
}

.save-1 {
    width: 62px;
    height: 27px;
    background: url('../img/button-sprite-1.png');
    background-position: -67px 0;
    border: none;
    outline: none;
    cursor: pointer;
}

.save-1:hover {
    background: url('../img/button-sprite-2.png');
    background-position: -67px 0;
}

.register-1 {
    width: 62px;
    height: 27px;
    background: url('../img/button-sprite-1.png');
    background-position: 1px -30px;
    border: none;
    outline: none;
    cursor: pointer;
}

.register-1:hover {
    background: url('../img/button-sprite-2.png');
    background-position: 1px -30px;
}

.login-1 {
    width: 62px;
    height: 27px;
    background: url('../img/button-sprite-1.png');
    background-position: -66px -30px;
    border: none;
    outline: none;
    cursor: pointer;
}

.login-1:hover {
    background: url('../img/button-sprite-2.png');
    background-position: -66px -30px;
}

.edit-1 {
    width: 62px;
    height: 29px;
    background: url('../img/button-sprite-1.png');
    background-position: 0 -58px;
    border: none;
    outline: none;
    cursor: pointer;
}

.edit-1:hover {
    background: url('../img/button-sprite-2.png');
    background-position: 0 -58px;
}

.delete-1 {
    width: 62px;
    height: 29px;
    background: url('../img/button-sprite-1.png');
    background-position: -69px -58px;
    border: none;
    outline: none;
    cursor: pointer;
}

.delete-1:hover {
    background: url('../img/button-sprite-2.png');
    background-position: -69px -58px;
}

.setting-1 {
    width: 62px;
    height: 29px;
    background: url('../img/button-sprite-1.png');
    background-position: 0 -90px;
    border: none;
    outline: none;
    cursor: pointer;
}

.setting-1:hover {
    background: url('../img/button-sprite-2.png');
    background-position: 0 -90px;
}

.share-1 {
    width: 62px;
    height: 29px;
    background: url('../img/button-sprite-1.png');
    background-position: -69px -90px;
    border: none;
    outline: none;
    cursor: pointer;
}

.share-1:hover {
    background: url('../img/button-sprite-2.png');
    background-position: -69px -90px;
}

.create-1 {
    width: 135px;
    height: 44px;
    background: url('../img/button-sprite-1.png');
    background-position: -133px 0;
    border: none;
    outline: none;
    cursor: pointer;
}

.create-1:hover {
    background: url('../img/button-sprite-2.png');
    background-position: -133px 0;
}

.hotshare-1 {
    width: 135px;
    height: 44px;
    background: url('../img/button-sprite-1.png');
    background-position: -133px -45px;
    border: none;
    outline: none;
    cursor: pointer;
}

.hotshare-1:hover {
    background: url('../img/button-sprite-2.png');
    background-position: -133px -45px;
}

.uploadimg-1 {
    width: 82px;
    height: 28px;
    background: url('../img/button-sprite-1.png');
    background-position: -133px -92px;
    border: none;
    outline: none;
    cursor: pointer;
}

.uploadimg-1:hover {
    background: url('../img/button-sprite-2.png');
    background-position: -133px -92px;
}

.rotate-1 {
    width: 27px;
    height: 27px;
    background: url('../img/button-sprite-1.png');
    background-position: -217px -92px;
    border: none;
    outline: none;
    cursor: pointer;
}

.rotate-1:hover {
    background: url('../img/button-sprite-2.png');
    background-position: -217px -92px;
}

.enter-1 {
    width: 94px;
    height: 30px;
    background: url('../img/button-sprite-1.png');
    background-position: 0 -121px;
    border: none;
    outline: none;
    cursor: pointer;
}

.enter-1:hover {
    background: url('../img/button-sprite-2.png');
    background-position: 0 -121px;
}

.photocrop-1 {
    width: 94px;
    height: 30px;
    background: url('../img/button-sprite-1.png');
    background-position: -99px -121px;
    border: none;
    outline: none;
    cursor: pointer;
}

.photocrop-1:hover {
    background: url('../img/button-sprite-2.png');
    background-position: -99px -121px;
}

.done-1 {
    width: 94px;
    height: 30px;
    background: url('../img/button-sprite-1.png');
    background-position: -194px -121px;
    border: none;
    outline: none;
    cursor: pointer;
}

.done-1:hover {
    background: url('../img/button-sprite-2.png');
    background-position: -194px -121px;
}

.addapp-1 {
    width: 81px;
    height: 27px;
    background: url('../img/button-sprite-1.png');
    background-position: 0 -152px;
    border: none;
    outline: none;
    cursor: pointer;
}

.addapp-1:hover {
    background: url('../img/button-sprite-2.png');
    background-position: 0 -152px;
}

.select-1 {
    width: 98px;
    height: 23px;
    background: url('../img/button-sprite-1.png');
    background-position: -86px -152px;
    border: none;
    outline: none;
    cursor: pointer;
}

.select-1:hover {
    background: url('../img/button-sprite-2.png');
    background-position: -86px -152px;
}
