body {
    margin: 0;
    padding: 0;
    font-family: 'Myriad Pro', 'Microsoft JhengHei', 'sans-serif';
}

a {
    text-decoration: none;
    color: #7d7d7d;
}

.hide {
    display: none;
}

.title {
    position: absolute;
    top: 2%;
    left: 0;
    right: 0;
    margin: auto;
    width: 90%;
    height: 12%;
}

.title p {
    font-size: 24px;
    font-weight: normal;
    color: #ff9933;
    text-align: center
}

.bar1 {
    position: absolute;
    top: 110%;
    left: 0%;
    width: 100%;
    height: 2px;
    background: #ff9933;
}

.addapp-1{
    position: absolute;
    top: 7%;
    right: 44px;
    z-index: 3;
}

.add p {
    color: #ff9933;
    font-size: 15px;
    margin: 0;
    text-align: center;
    line-height: 27px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 30px auto;
}

#box {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 70%;
    width: 80%;
}

#box ul li {
    width: 100%;
    height: 50px;
    position: relative;
}

#box .app-name {
    font-size: 18px;
    font-weight: bold;
    color: gray;
    text-align: left;
    margin: 0;
    position: absolute;
    bottom: 5px;
}

.bar2 {
    position: absolute;
    bottom: 0;
    left: 0%;
    width: 100%;
    height: 1px;
    background-color: #7C7C7C;
    opacity: 0.5;
}

.edit-1 {
    position: absolute;
    bottom: 5px;
    right: 207px;
    z-index: 3;
}

.delete-1 {
    position: absolute;
    bottom: 5px;
    right: 137px;
    z-index: 3;
}

.setting-1 {
    position: absolute;
    bottom: 5px;
    right: 68px;
    z-index: 3;
}

.share-1 {
    position: absolute;
    bottom: 5px;
    right: 0;
    z-index: 3;
}
