body {
    width: 100%;
    overflow: hidden;
}

.hide {
    display: none;
}

.page {
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
}

.page .wrap {
    width: 100%;
    height: 100%;
}

.page-1-1 {
    background-color: #ffffff;
}

.page-2-1 {
    background-color: #ffffff;
}

.page-3-1 {
    background-color: #ffffff;
}

.page-4-1 {
    background-color: #ffffff;
}

.page-5-1 {
    background-color: #ffffff;
}

.page-6-1 {
    background-color: #ffffff;
}

.page-7-1 {
    background-color: #ffffff;
}

.page-8-1 {
    background-color: #ffd5af;
}

.page-9-1 {
    /*outline: 1px solid #f00;*/
}

.page-current {
    z-index: 1;
}

.up {
    height: auto;
    width: 25px;
    position: absolute;
    left: 50%;
    top: 92%;
    margin-left: -12px;
    z-index: 3;
}

.dot {
    height: auto;
    width: 20px;
    position: absolute;
    left: 50%;
    top: 87%;
    margin-left: -10px;
}

.qr {
    height: auto;
    width: 140px;
    position: absolute;
    left: 50%;
    top: 53%;
    margin-left: -70px;
}

.share-button {
    height: auto;
    width: auto;
    position: absolute;
    left: 50%;
    top: 2%;
    margin-left: -150px;
    z-index: 100;
}

.lastpg {
    height: auto;
    width: 250px;
    position: absolute;
    left: 50%;
    top: 90%;
    margin-left: -125px;
}

.logo {
    height: auto;
    width: 50%;
    position: absolute;
    left: 50%;
    top: 35%;
    margin-left: -80px;
}

.logo2 {
    height: auto;
    width: 260px;
    position: absolute;
    left: 50%;
    top: 5%;
    margin-left: -140px;
}

.border {
    border-style: solid;
    border-color: #ffffff;
    border-width: 1%;
}

.bg {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: auto;
}

.bg1 {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 98%;
    height: 32%;
}

.bg2 {
    position: absolute;
    left: 0%;
    top: 33%;
    width: 98%;
    height: 33%;
}

.bg3 {
    position: absolute;
    left: 08;
    top: 67%;
    width: 98%;
    height: 32%;
}

.bg4 {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 98%;
    height: 50%;
}

.bg5 {
    position: absolute;
    left: 0%;
    top: 50%;
    width: 49%;
    height: 49%;
}

.bg6 {
    position: absolute;
    left: 49%;
    top: 50%;
    width: 49%;
    height: 49%;
}

.bar1 {
    height: 100px;
    width: 100%;
    position: absolute;
    left: 0%;
    top: 85%;
    /*margin-left:-80px;*/
    /*opacity:0%;*/
    background-color: #ffffff;
}

.bar2 {
    height: 90px;
    width: 100%;
    position: absolute;
    left: 0%;
    top: 63%;
    /*margin-left:-80px;*/
    background-color: #ffffff;
}

.textbox {
    height: 50px;
    width: 42%;
    position: absolute;
    right: 0%;
    top: 75%;
    background-color: #000000;
    z-index: 3;
}

.shadow {
    height: 50px;
    width: 42%;
    position: absolute;
    right: 2%;
    top: 75%;
    background-color: #888888;
    opacity: 0.5;
    -ms-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
    z-index: 2;
}

.create {
    height: auto;
    width: 70px;
    position: absolute;
    left: 50%;
    top: 53%;
    margin-left: 83px;
    z-index: 3;
}

.share {
    height: auto;
    width: 70px;
    position: absolute;
    left: 50%;
    top: 68%;
    margin-left: 83px;
    z-index: 3;
}

.text1 {
    color: #000000;
    font-size: 18px;
    text-align: left;
    margin-left: 5px;
}

.text2 {
    color: #000000;
    font-size: 18px;
    text-align: center;
    line-height: 90px;
}

.text3 {
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
}


/* page-8-1 */

.Postcard {
    height: 100%;
}

.Postcard .PostcardImg {
    height: 100%;
}

.changImg {
    /*outline: 1px solid #f00;*/
    overflow: hidden;
    width: 350px;
    height: 237px;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 10px;
    right: 0;
    margin: auto;
}

.changImg img {
    height: 100%;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
}

.youtext {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -130px;
    margin-top: 30px;
    z-index: 2;
    width: 250px;
    height: 270px;
    outline: 1px solid #f00;
}


/* page-9-1 */

.bg .bgimgpos {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

.textlife {
    position: absolute;
    left: 100px;
    top: 0;
    height: 100%;
    width: 65%;
    height: 100%;
}

.textlife li {
    padding: 10%;
}

.textlife li:nth-child(1) {
    height: 25%;
    width: 90%;
}

.textlife li:nth-child(2) {
    height: 61%;
    width: 90%;
    padding-top: 0;
}

.textlife li:nth-child(1) textarea {
    border: 2px dashed #aaa;
    height: 100%;
    width: 100%;
    font-size: 24px;
    color: #808080;
    box-shadow: none;
}

.textlife li:nth-child(2) textarea {
    border: 2px dashed #aaa;
    height: 100%;
    width: 100%;
    font-size: 18px;
    color: #808080;
    box-shadow: none;
}


/* page-10 */

.rodenBg1 {
    height: 35%;
}

.rodenBg2 {
    height: 35%;
}

.rodentext {
    height: 30%;
    width: 100%;
    padding: 5% 0;
    margin: 0;
}

.rodentext textarea {
    width: 90%;
    height: 100%;
    border: 2px dashed #aaa;
}
