#masonry
		{
			padding: 0;
			min-height: 450px;
			margin: 0 ;
		}
		#masonry .thumbnail
		{
			width: 35%;
			margin: 3%;
			padding: 0;
			border-width: 1px;
			-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
					box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
		}
		#masonry .thumbnail .imgs
		{
			padding: 0px;
		}
		#masonry .thumbnail .imgs img
		{
			margin-bottom: 5px;
		}
		#masonry .thumbnail .caption
		{
			background-color: #fff;
			padding-top: 0;
			font-size: 13px;
		}
		#masonry .thumbnail .caption .title
		{
			font-size: 13px;
			font-weight: bold;
			margin: 5px 0;
			text-align: left;
		}
		#masonry .thumbnail .caption .author
		{
			font-size: 11px;
			text-align: right;
		}