    .item {
        background: none repeat scroll 0 0 #D8D5D2;
        border-radius: 5px 5px 5px 5px;
        width: 240px;
        float: left;
        padding: 5px;
        margin: 5px;
    }
    
    .imgcenter {
        text-align: center;
    }
    
    .clearbox {
        clear: both;
    }
    
    #container {
        margin-top: 8%;
        margin-left: 10%;
        border-radius: 5px;
        clear: both;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }
    
    #infscr-loading {
        text-align: center;
        z-index: 100;
        position: fixed;
        margin-left: 40%;
        bottom: 40px;
        width: 200px;
        padding: 10px;
        background: #000;
        opacity: 0.8;
        color: #FFF;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
    }
    
    
    .owner {
        font-size: 9pt;
    }
