/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
/* line 7, ../sass/print.sass */
body {
  background: url("../img/web-transpage-img.jpg");
  background-attachment: fixed;
  background-size: cover;
}
/* line 11, ../sass/print.sass */
body .PCbox {
  width: 620px;
  height: 500px;
  display: block;
  border: 1px solid #ff9933;
  border-width: 5px 5px 40px 5px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
/* line 24, ../sass/print.sass */
body .PCbox iframe {
  width: 100%;
  height: 100%;
}
/* line 27, ../sass/print.sass */
body .PCbox .glyphicon {
  font-size: 22px;
  width: 20px;
  position: absolute;
  z-index: 99;
  right: 0;
  display: block;
  text-align: center;
  top: 102%;
  color: #fff;
}
