html{
    height: 100%;
}
body {
    /*background-color: #f5f5f5;*/
    /*font-size: small;*/
    height: 100%;
    /*min-height: 435px;*/
}


a {
    text-decoration: none;
    color: #ff9933;
}

a:hover {
    text-decoration: none;
    color: #ffbb66;
}

.login-mobile {
    position: fixed;
    /*background-color: #ff9933;*/
    width: 100%;
    /*height: 100%;*/
    z-index: 99;
}

.iapplogo {
    width: 80px;
    height: auto;
}

.login-mobile p {
    font-size: 18px;
    color: #ff9933;
}

.navbar {
    background-color: #ff9933;
    margin-bottom: 0px;
}

.content {
    height: calc(100% - 113px);
    min-height: 300px;
    padding: 5% 5% 0 5%;
    /*width: 100%;*/

    background-color: #fff;
    /*position: absolute;*/
    
}
.content .login{
    margin: 5px 0 5px 0;
}

/*.login-sm .input-group-btn:hover .login-mobile{
    	display: inline;
	}*/

.login-mobile .fb {
    /*position: absolute;*/
    margin-bottom: 5%;
    /*height: 10%;*/
}

.login-mobile .fb p {
    text-align: left;
    font-size: 18px;
    color: #ff9933;
}

.login-mobile .fb-img {
    /*position: absolute;*/
    
    width: 100%;
}

/*.login-mobile {
    
    top: 40%;
    left: 5%;
    width: 100%;
    height: 10%;
}*/

.login-mobile .login p {
    text-align: left;
    font-size: 18px;
    color: #ff9933;
}

.login-mobile .login-input {
    /*position: absolute;*/
    
    font-size: 15px;
    /*width: 90%;*/
    opacity: 0.5;
}

.login-mobile .admin {
    display: block;
    font-size: 1.2em;
    width: 100%;
    border: 1px solid #7b7b7b;
    border-style: #7b7b7b;
    border-radius: 0px;
    border-bottom: 0px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    padding: 8px;
}
.Pstyle {
     width: 7%;
    float:left;
     
}
.InpStyle {
    display: block;
    font-size: 1.2em;
    width: 93%;
    border: 1px solid #7b7b7b;
    border-style: #7b7b7b;
    border-radius: 0px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    padding: 8px;
    float:left;
}

.bar {
    /*position: absolute;*/
    /*width: 90%;*/
    width: 100%;
    height: 2px;
    background-color: #ff9933;
    margin-bottom: 10px;
}

.login-mobile .send {
    /*position: absolute;*/
    display: inline-block;
    margin-top: 5%;
    margin-left: 10%;
    width: 50px;
    height: 50px;
    border-radius: 99px;
    border: 2px solid #ff9933;
}

.glyphicon-ok {
    position: relative;
    top: 12%;
    left: 12%;
    font-size: 35px;
    color: #ff9933;
}



.login-mobile .login-back {
    /*position: absolute;*/
    display: inline-block;
    margin-left: calc(45% - 50px);
    width: 50px;
    height: 50px;
    border-radius: 99px;
    border: 2px solid #ff9933;
}

.glyphicon-remove {
    /*position: absolute;*/
    top: 12%;
    left: 12%;
    font-size: 35px;
    color: #ff9933;
}

.glyphicon-arrow-left {
    /*position: absolute;*/
    top: 12%;
    left: 12%;
    font-size: 35px;
    color: #ff9933;
}
.glyphicon:active{
    color: #ffbb66;
}
.footer {
    /*position: absolute;*/
    /*top: 90%;*/
    /*left: 0%;*/
    width: 100%;
    height: 50px;
    padding-top: 10px;
    padding-right: 5%;
    background-color: #ff9933;
    text-align: right;
}

.footer p{
    display: inline;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    /*padding-left: 40%;*/
    padding-top: 5px;
}

.join {
    position: relative;
    /*top: -60%;*/
    padding: 5px 10px 5px 10px;
    display: inline;
    width: 100px;
    height: 30px;
    background-color: #fff;
    border-radius: 5px;
}

.join:hover {
    background: #ffbb66;
}

.join:hover a {
    color: #fff;
}

.join p {
    color: #ff9933;
    font-size: 18px;
    font-weight: bold;
    /*position: absolute;*/
    top: 10%;
    left: 15%;
    padding-left: 0%;
}

.register-mobile {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    /*background-color: #ff9933;*/
    width: 100%;
    height: 100%;
    z-index: 99;
}

.register-mobile p {
    font-size: 18px;
    color: #ff9933;
}

.register-mobile .navbar {
    background-color: #ff9933;
}

.register-mobile .content {
    min-height: 75%;
    /*width: 100%;*/
    background-color: #fff;
    /*position: absolute;*/
    top: 60px;
    left: 0px;
}


/*.login-sm .input-group-btn .join a:hover .register-mobile{
    	display: inline;
	}*/

.register-mobile .register-input {
    /*position: absolute;*/
    top: 20%;
    left: 5%;
    font-size: 15px;
    width: 100%;
    opacity: 0.5;
}

.register-mobile .login {
    /*position: absolute;*/
    
}

.register-mobile .login p {
    text-align: left;
    font-size: 18px;
    color: #ff9933;
}

.register-mobile .name {
    display: block;
    font-size: 1.2em;
    width: 100%;
    border: 1px solid #7b7b7b;
    border-style: #7b7b7b;
    border-radius: 0px;
    border-bottom: 0px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    padding: 8px;
}

.register-mobile .admin {
    display: block;
    font-size: 1.2em;
    width: 100%;
    border: 1px solid #7b7b7b;
    border-style: #7b7b7b;
    border-radius: 0px;
    border-bottom: 0px;
    padding: 8px;
}

.register-mobile .password {
    display: block;
    font-size: 1.2em;
    width: 100%;
    border: 1px solid #7b7b7b;
    border-style: #7b7b7b;
    border-radius: 0px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    padding: 8px;
}

.register-mobile .send {
/*    position: absolute;*/
    /*top: 80%;*/
    display: inline-block;
    margin-left: calc( 50% - 100px);
    width: 50px;
    height: 50px;
    border-radius: 99px;
    border: 2px solid #ff9933;
}

.register-mobile .register-back {
    display: inline-block;
    margin-top: 5%;
    margin-left: 25%;
    width: 50px;
    height: 50px;
    border-radius: 99px;
    border: 2px solid #ff9933;
}
