body {
    background-color: #f5f5f5;
    font-size: small;
    font-family: 'Myriad Pro', 'Microsoft JhengHei', Arial, 'sans-serif';
}

a {
    text-decoration: none;
    color: #ff9933;
}

a:hover {
    text-decoration: none;
    color: #ff9932;
}

.navbar {
    min-height: 80px;
    background-color: white;
    z-index: 99;
}

.btn-default {
    background-color: #ff9933;
}

.back-top {
    width: auto;
    height: auto;
    position: fixed;
    bottom: 2%;
    right: 2%;
    z-index: 90;
}

.tem {
    display: none;
}

.iapplogo {
    width: 100px;
    height: auto;
}

.navbar-brand {
    float: left;
    height: 80px;
    padding: 5px 0px;
}

.search {
    position: relative;
    top: 20px;
    left: 8%;
    width: 90%;
}

.search2 {
    background: none;
    border-style: none;
    /* outline: 1px solid #000; */
    margin: 0;
    padding: 0;
    text-align: center;
    width: 37px;
}

.search2:hover {
    background: none;
}

.search-sm {
    display: none;
}

.glyphicon-search {
    /* margin-top: 7px; */
    color: #ff9932;
    font-size: 35px;
    /* left: -50%; */
}

.glyphicon-search:hover {
    color: #ff9932;
}

.glyphicon-user {
    color: #ff9932;
    font-size: 35px;
}

.glyphicon-user:hover {
    color: #ff9932;
}

.login-sm {
    display: none;
}

.input-group .form-control {
    border: #ff9932 2px solid;
}

.glyphicon-align-justify {
    color: #fff;
}

.glyphicon-align-justify:hover {
    color: #ff9933;
}

.select {
    border: #ff9932 1px solid;
}

.select:hover {
    border: #ff9933 1px solid;
    background-color: #ff9932;
}

.dropdown-menu-right {
    display: none;
    top: 0;
}

.dropdown-menu-right {
    position: absolute;
    top: 81px;
    right: 0;
    left: 0;
    margin: auto;
    width: 95%;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 0px;
    border-top: #ff9932 5px solid;
    border-left: 0px;
    border-bottom: 0px;
    border-right: 0px;
}

.dropdown-menu-right .divider {
    background-color: #ff9932;
}

.theme>li>a {
    color: #ff9932;
    border-bottom: #ff9932 1px solid;
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
}

.theme>li>a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #ff9932;
}

.navbar-btn1 {
    margin-top: 16px;
    border: none;
    background-color: #fff;
    color: #ff9932;
    font-size: 21px;
}

.navbar-btn2 {
    margin-top: 16px;
    border: none;
    background-color: #fff;
    color: #ff9932;
    font-size: 21px;
}

.navbar-btn1:hover {
    color: #fff;
    background-color: #ff9932;
}

.navbar-btn2:hover {
    color: #fff;
    background-color: #ff9932;
}

.icon-box {
    display: none;
    background-color: #ff9932;
    margin-top: 20px;
    width: 110px;
    height: 35px;
    border-radius: 6px;
}

.icon-box:hover {
    background-color: #ff9932;
}

.icon-box h4 {
    color: #fff;
}

.usericon {
    width: auto;
    height: 36px;
    position: absolute;
    top: -2%;
    left: 0%;
    border-radius: 6px;
}

.username-icon {
    position: absolute;
}

.title {
    font-weight: bold;
    color: #ff9932;
}

.title:hover {
    font-weight: bold;
    color: #fff;
}

.se {
    width: 5%;
}

.separate {
    background-color: gray;
    opacity: 0.5;
    width: 2px;
    height: 40px;
    position: relative;
    top: 18px;
    left: 100%;
}

.jumbotron {
    display: none;
    padding-top: 90px;
    background-color: #ff9933;
    height: 280px;
}

.jumbotron p {
    color: #fff;
    margin-bottom: 0px;
    font-size: 1.3em;
    font-weight: 200;
}

.jumbotron .logout {
    position: absolute;
    top: 20px;
    right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 0px;
}

.jumbotron .logout a {
    font-size: 15px;
    text-align: center;
    border-bottom: 0px;
}

.logout>li>a {
    color: #ff9933;
    border-bottom: #ff9933 1px solid;
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
}

.logout>li>a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #ff9932;
}

.user-icon {
    position: absolute;
    margin-top: 30px;
    left: 45%;
}

.glyphicon-cog {
    color: #fff;
    font-size: 25px;
    position: relative;
    top: 0%;
    left: 0%;
}

.glyphicon-cog:hover {
    color: #aa5b26;
}

.m-profile>li>a {
    color: #ff9933;
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
}

.m-profile>li>a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #ff9932;
}

.m-logout {
    background-color: #ff9933;
}

.m-logout:hover {
    background-color: #ff9932;
}

.m-logout>p {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}

.m-logout>p>a {
    color: #fff;
}

.logout-user {
    position: relative;
    top: 100%;
    left: 97%;
    width: 2%;
}

.logout {
    display: none;
    min-width: 100px;
}

.logout p {
    color: #ff9933;
}

.logout-user:hover .logout {
    display: block;
}

.option-user {
    width: 40%;
    position: absolute;
    margin-top: 130px;
    left: 29%;
}

.option-user p {
    font-size: 22px;
}

.option-user a:link {
    color: #fff;
    text-decoration: none;
}

.option-user a:visited {
    color: #fff;
    text-decoration: none;
}

.my-iapp {
    position: absolute;
    top: 0%;
    left: 22%;
}

.my-iapp:hover {
    border-bottom: 2px #fff solid;
}

.collect-iapp {
    position: absolute;
    top: 0%;
    left: 60%;
}

.collect-iapp:hover {
    border-bottom: 2px #fff solid;
}

.circle-login {
    display: none;
    position: relative;
    margin-top: 4px;
    left: -50%;
    width: 40px;
    height: 40px;
    border-radius: 99em;
    border: 3px solid #ff9933;
}

.circle-login:hover {
    border: 3px solid #ff9932;
}

.login-mobile {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #ff9933;
    width: 100%;
    height: 100%;
    z-index: 99;
}

.login-mobile p {
    font-size: 18px;
    color: #ff9933;
}

.login-mobile .navbar {
    background-color: #ff9933;
}

.login-mobile .content {
    min-height: 75%;
    width: 100%;
    background-color: #fff;
    position: absolute;
    top: 60px;
    left: 0px;
}

.login-mobile .fb {
    position: absolute;
    top: 4%;
    left: 5%;
    width: 100%;
    height: 10%;
}

.login-mobile .fb p {
    text-align: left;
    font-size: 18px;
    color: #ff9933;
}

.login-mobile .fb-img {
    position: absolute;
    top: 20%;
    left: 5%;
    width: 90%;
    height: auto;
}

.login-mobile .login {
    position: absolute;
    top: 40%;
    left: 5%;
    width: 100%;
    height: 10%;
}

.login-mobile .login p {
    text-align: left;
    font-size: 18px;
    color: #ff9933;
}

.login-mobile .login-input {
    position: absolute;
    top: 53%;
    left: 5%;
    font-size: 15px;
    width: 90%;
    opacity: 0.5;
}

.login-mobile .admin {
    display: block;
    font-size: 1.2em;
    width: 100%;
    border: 1px solid #7b7b7b;
    border-style: #7b7b7b;
    border-radius: 0px;
    border-bottom: 0px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    padding: 8px;
}

.login-mobile .password {
    display: block;
    font-size: 1.2em;
    width: 100%;
    border: 1px solid #7b7b7b;
    border-style: #7b7b7b;
    border-radius: 0px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    padding: 8px;
}

.bar {
    position: absolute;
    top: 80%;
    left: 0%;
    width: 90%;
    height: 2px;
    background-color: #ff9933;
}

.login-mobile .send {
    position: absolute;
    top: 80%;
    left: 55%;
    width: 50px;
    height: 50px;
    border-radius: 99px;
    border: 2px solid #ff9933;
}

.glyphicon-ok {
    position: relative;
    top: 12%;
    left: 12%;
    font-size: 35px;
    color: #ff9933;
}

.login-mobile .login-back {
    position: absolute;
    top: 80%;
    left: 30%;
    width: 50px;
    height: 50px;
    border-radius: 99px;
    border: 2px solid #ff9933;
}

.glyphicon-remove {
    position: absolute;
    top: 12%;
    left: 12%;
    font-size: 35px;
    color: #ff9933;
}

.glyphicon-arrow-left {
    position: absolute;
    top: 12%;
    left: 12%;
    font-size: 35px;
    color: #ff9933;
}

.footer {
    position: absolute;
    top: 90%;
    left: 0%;
    width: 100%;
    height: 10%;
}

.footer p {
    display: inline;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    padding-left: 25%;
}

.join {
    position: relative;
    top: -45%;
    left: 65%;
    width: 100px;
    height: 30px;
    background-color: #fff;
    border-radius: 5px;
}

.join:hover {
    background: #ff9932;
}

.join:hover a {
    color: #fff;
}

.join p {
    color: #ff9933;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    top: 10%;
    left: 15%;
    padding-left: 0%;
}

.register-mobile {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #ff9933;
    width: 100%;
    height: 100%;
    z-index: 99;
}

.register-mobile p {
    font-size: 18px;
    color: #ff9933;
}

.register-mobile .navbar {
    background-color: #ff9933;
}

.register-mobile .content {
    min-height: 75%;
    width: 100%;
    background-color: #fff;
    position: absolute;
    top: 60px;
    left: 0px;
}

.register-mobile .register-input {
    position: absolute;
    top: 20%;
    left: 5%;
    font-size: 15px;
    width: 90%;
    opacity: 0.5;
}

.register-mobile .login {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 100%;
    height: 10%;
}

.register-mobile .login p {
    text-align: left;
    font-size: 18px;
    color: #ff9933;
}

.register-mobile .name {
    display: block;
    font-size: 1.2em;
    width: 100%;
    border: 1px solid #ff9933;
    border-style: #ff9933;
    border-radius: 0px;
    border-bottom: 0px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    padding: 8px;
}

.register-mobile .admin {
    display: block;
    font-size: 1.2em;
    width: 100%;
    border: 1px solid #ff9933;
    border-style: #ff9933;
    border-radius: 0px;
    border-bottom: 0px;
    padding: 8px;
}

.register-mobile .password {
    display: block;
    font-size: 1.2em;
    width: 100%;
    border: 1px solid #7b7b7b;
    border-style: #7b7b7b;
    border-radius: 0px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    padding: 8px;
}

.register-mobile .send {
    position: absolute;
    top: 80%;
    left: 55%;
    width: 50px;
    height: 50px;
    border-radius: 99px;
    border: 2px solid #ff9933;
}

.register-mobile .register-back {
    position: absolute;
    top: 80%;
    left: 30%;
    width: 50px;
    height: 50px;
    border-radius: 99px;
    border: 2px solid #ff9933;
}

.search-bar {
    background-color: #ff9932;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 60px;
    z-index: 3;
    display: none;
}

.search-bar .search {
    width: 70%;
    height: 40px;
    float: left;
    opacity: 0.8;
    border-radius: 45px;
    border: 0px;
    padding-left: 15px;
}

.search-bar .search:hover {
    opacity: 1;
}

.search-bar .cancel {
    position: relative;
    right: 1px;
    top: 7px;
    padding-top: 10px;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}

.finder .finder-app {
    width: 40px;
    height: 40px;
    border-radius: 99em;
    border: 3px solid #ff9932;
}

.finder>li>a {
    color: #ff9932;
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
}

.finder>li>a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #ff9932;
}

.username-icon h4 {
    margin-left: 28px;
    margin-top: 7px;
    font-size: 16px;
}

.theme .boxpos a {
    border: none;
}

@media only screen and (min-width:481px) and (max-width:768px) {
    .tem {
        display: inline;
    }
    .navbar {
        min-height: 60px;
    }
    .navbar-brand {
        float: left;
        height: 60px;
        padding: 0px 0px;
    }
    .iapplogo {
        width: 80px;
        height: auto;
    }
    .search {
        position: relative;
        top: 8px;
        right: 5px;
    }
    .search-sm {
        display: inline;
    }
    .login-sm {
        display: inline;
    }
    .glyphicon-align-justify {
        margin-top: -2px;
        font-size: 35px;
        color: #ff9933;
    }
    .glyphicon-align-justify:hover {
        color: #ff9932;
    }
    .select {
        right: 15px;
        border: 0px;
        top: -3px;
        background-color: #fff;
    }
    .select:hover {
        border: 0px;
        background-color: #fff;
        border-radius-left: 20px;
    }
    .dropdown-menu-right {
        position: absolute;
        top: 60px;
        right: 5px;
        width: 95%;
    }
    .input-group .form-control {
        display: none;
    }
    .navbar-btn1 {
        display: none;
    }
    .navbar-btn2 {
        display: none;
    }
    .se {
        display: none;
    }
    .theme .boxpos a {
        border: none;
    }
}

@media only screen and (max-width:480px) {
    .tem {
        display: inline;
    }
    .navbar {
        min-height: 60px;
    }
    .navbar-brand {
        float: left;
        height: 60px;
        padding: 0px 0px;
    }
    .iapplogo {
        width: 80px;
        height: auto;
    }
    .search {
        position: relative;
        top: 11px;
    }
    .search-sm {
        display: inline;
        padding: 0;
        margin: 0;
    }
    .login-sm {
        display: inline;
    }
    .glyphicon-align-justify {
        margin-top: -2px;
        font-size: 35px;
        color: #ff9933;
    }
    .glyphicon-align-justify:hover {
        color: #ff9932;
    }
    .select {
        right: 0px;
        border: 0px;
        width: 57px;
        height: 44px;
        top: -15px;
    }
    .select:hover {
        border: 0px;
        background-color: #fff;
        border-radius-left: 20px;
    }
    .input-group .form-control {
        display: none;
    }
    .navbar-btn1 {
        display: none;
    }
    .navbar-btn2 {
        display: none;
    }
    .se {
        display: none;
    }
    .glyphicon-remove:before {
        margin-top: 9px;
    }
    .dropdown-menu-right {
        position: absolute;
        top: 61px;
        right: 0;
        left: 0;
        margin: auto;
        width: 95%;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 0px;
        border-top: #ff9932 5px solid;
        border-left: 0px;
        border-bottom: 0px;
        border-right: 0px;
    }
    .theme .boxpos a {
        border: none;
    }
}
