body{
	background-color: #f5f5f5;
	font-size: small;
}
/*.show {
    display: inline!important;
}*/
a {text-decoration:none; color:#ff9933;}
a:hover {text-decoration:none; color:#ffbb66;}
.navbar{
	min-height: 80px;
	background-color: white;
	/*box-shadow: gray 0px 2px 8px 0px;*/
}

.btn-default{
	background-color: #ff9933;
}
.back-top{
	width: auto;height: auto;
	position: fixed;
	bottom: 2%;
	right: 2%;
	z-index: 999;
}
.tem{
  		display: none;
  	}
.iapplogo{
	width: 100px;
	height: auto;
}
.navbar-brand {
    float: left;
    height: 80px;
    padding: 5px 0px;
	}
.search {
    position: relative;
    top:20px;
    left: 8%;
    width: 90%;
}
.search2 {
	background:none;
	border-style: none;
}
.search2:hover {
	background: none;
}
.search-sm{
	display: none;
}
	.glyphicon-search{
		margin-top: 7px;
		color: #ff9933;
		font-size: 35px;
		left: -50%;
	}
	.glyphicon-search:hover{
		color: #ffbb66;
	}
	.glyphicon-user{
		margin-top: 7px;
		left: -50%;
		color: #ff9933;
		font-size: 35px;
	}
	.glyphicon-user:hover{
		color: #ffbb66;
	}
.login-sm{
	display: none;
}
.input-group .form-control {
	border: #ff9933 2px solid;
}
.glyphicon-align-justify{
	color: #fff;
}
.glyphicon-align-justify:hover{
	color: #ff9933;
}
.select{
	border: #ff9933 1px solid;
}
.select:hover{
	border: #ff9933 1px solid;
	background-color: #ffbb66;
}
.dropdown-menu-right{
	display: none;
}
/*.search .input-group-btn:hover .dropdown-menu-right{
		display: block;
	}*/
.dropdown-menu-right {
	position: absolute;
	top: 80px;right: 5px;
	width: 95%;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 0px;
	border-top: #ff9933 5px solid;
	border-left: 0px;
	border-bottom: 0px;
	border-right: 0px;
}
.dropdown-menu-right .divider{
	background-color: #ff9933;
}
.theme>li>a{
    color: #ff9933;
    border-bottom: #ff9933 1px solid;
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
}
.theme>li>a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #ffbb66;
}
.navbar-btn1 {
    margin-top: 12px;
    border: none;
    background-color: #fff;
}
.navbar-btn2 {
    margin-top: 10px;
    border: none;
    background-color: #fff;
}
.navbar-btn1:hover {
    color: #fff;
    background-color: #ffbb66;	
}
.navbar-btn2:hover {
    color: #fff;
    background-color: #ffbb66;	
}
.icon-box{
	display: none;
	background-color: #ff9933;
	margin-top: 20px;
	width: 130px;
	height: 35px;
	border:1px gray solid;
	border-radius:8px;
}
.icon-box:hover{
	background-color: #ffbb66;
}
.icon-box h4{
	color: #fff;
}
.usericon{
	width: auto;height: 35px;
	position: absolute;
	top: -2%;
	left: 0%;
	border:1px gray solid;
	border-radius:8px;
}
.username-icon{
	position: absolute;
	top: -5%;
	left: 35%;
}
.title{
	font-weight: bold;
	color: #ff9933;
}
.title:hover{
	font-weight: bold;
	color: #fff;
}
.se{
	width: 5%;
}
.separate {
    background-color: gray;
    opacity: 0.5;
    width: 2px;
    height: 40px;
    position: relative;
    top: 18px;
    left: 100%;
}
.jumbotron {
	display: none;
    padding-top: 90px;
    background-color: #ff9933;
    height: 280px;
}
.jumbotron p{
	color: #fff;
	margin-bottom: 0px;
    font-size: 1.3em;
    font-weight: 200;
}
.jumbotron .logout {
	position: absolute;
	top: 30px;right: 0px;
	padding-left: 0px;
	padding-right: 0px;
	border-radius: 0px;
}
.jumbotron .logout a{
	font-size: 15px;
	text-align: center;
	border-bottom: 0px;
}
.logout>li>a{
    color: #ff9933;
    border-bottom: #ff9933 1px solid;
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
}
.logout>li>a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #ffbb66;
}
.user-icon{
	position: absolute;
    margin-top: 30px;
    left: 45%;
}
.glyphicon-cog{
	color: #fff;
	font-size: 25px;
	position: relative;
    top: 0%;
    left: 0%;
}
.glyphicon-cog:hover{
	color: #aa5b26;
}
.m-profile>li>a{
    color: #ff9933;
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
}
.m-profile>li>a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #ffbb66;
}
.m-logout {
	background-color: #ff9933;
}
.m-logout:hover{
	background-color: #ffbb66;
}
.m-logout>p{
	text-align: center;
	font-size: 22px;
	font-weight: bold;
}
.m-logout>p>a{
	color: #fff;
}
.logout-user{
	position: relative;
    top: 100%;left: 97%;
    width: 2%;
}
.logout{
	display: none;
	min-width: 100px;
}
.logout p{
	color: #ff9933;
}
.logout-user:hover .logout{
	display: block;
}
.option-user{
	width: 40%;
	position: absolute;
    margin-top: 130px;
    left: 29%;
}
.option-user p{
	font-size: 22px;
}
/*.separate-user {
    background-color: #fff;
    width: 2px;
    height: 50px;
    position: relative;
    top: 0%;
    left: 50%;
}*/

.my-iapp{
	position: absolute;
    top: 0%;
    left: 22%;
}
.my-iapp:hover{
	border-bottom: 2px #fff solid;
}

.collect-iapp{
	position: absolute;
    top: 0%;
    left: 60%;
}
.collect-iapp:hover{
	border-bottom: 2px #fff solid;
}
.circle-login{
	display: none;
	position: relative;
	margin-top: 4px;
	left: -50%;
	width:40px;height:40px;
	border-radius:99em;
	border: 3px solid #ff9933;
}
.circle-login:hover{
	border: 3px solid #ffbb66;
}
	.login-mobile{
		display: none;
		position: fixed;
		top: 0px;left: 0px;
		background-color: #ff9933;
		width: 100%;height: 100%;
		z-index: 99;
	}
	.login-mobile p{
		font-size: 18px;
		color: #ff9933;
	}
	.login-mobile .navbar{
		background-color: #ff9933;
	}
	.login-mobile .content{
		min-height: 75%;width: 100%;
		background-color: #fff;
		position: absolute;
		top: 60px;left: 0px;
	}
	/*.login-sm .input-group-btn:hover .login-mobile{
    	display: inline;
	}*/
	.login-mobile .fb{
		position: absolute; 
		top: 4%; left: 5%; 
		width: 100%; height: 10%;
	}
	.login-mobile .fb p{
		text-align: left; 
		font-size: 18px;
		color: #ff9933;
	}
	.login-mobile .fb-img{
		position: absolute; 
		top: 20%; left: 10%;
		width: 80%; height: auto;
	}
	.login-mobile .login{
		position: absolute; 
		top: 40%; left: 5%; 
		width: 100%; height: 10%;
	}
	.login-mobile .login p{
		text-align: left; 
		font-size: 18px;
		color: #ff9933;
	}
	.login-mobile .admin{
		position: absolute; 
		top: 53%; left: 8%;
		font-size: 15px;width: 80%;
		border-color:#7b7b7b;
		border-radius: 2px;
		opacity:0.5;
	}
	.login-mobile .password{
		position: absolute; 
		top: 67%; left: 8%;
		font-size: 15px;width: 80%;
		border-color:#7b7b7b;
		border-radius: 2px;
		opacity:0.5;
	}
	.bar{
        position: absolute;
        top: 80%;left: 0%;
        width: 90%;height: 2px;
        background-color: #ff9933;
    }
    .login-mobile .send{
    	position: absolute;
        top: 80%;left: 55%;
    	width: 50px;height: 50px;
    	border-radius: 99px;
        border: 2px solid #ff9933;
    }
    .glyphicon-ok{
    	position: relative;
        top: 12%;left: 12%;
    	font-size: 35px;
		color: #ff9933;
    }
    .login-mobile .login-back{
    	position: absolute;
	    top: 80%;left: 30%;
    	width: 50px;height: 50px;
	    border-radius: 99px;
        border: 2px solid #ff9933;
    }
	.glyphicon-remove{
	    position: absolute;
	    top: 12%;left: 12%;
	    font-size: 35px;
		color: #ff9933;
    }
    .glyphicon-arrow-left{
    	position: absolute;
	    top: 12%;left: 12%;
	    font-size: 35px;
		color: #ff9933;
    }
    .footer{
    	position: absolute;
		top: 90%;left: 0%;
		width: 100%;height: 10%;
    }
    .footer p{
    	display: inline;
		color: #fff;
		font-size: 15px;
		font-weight: bold;
		padding-left: 25%;
    }
    	.join{
            position: relative;
            top: -45%;left: 65%;
            width: 100px;height: 30px;
            background-color: #fff;
            border-radius: 5px;
        }
        .join:hover{
            background: #ffbb66;
        }
        .join:hover a{
            color: #fff;
        }
        .join p{
            color: #ff9933;
            font-size: 18px;
            font-weight: bold;
            position:absolute;
            top: 10%;left: 15%;
            padding-left: 0%;
        }
    .register-mobile{
		display: none;
		position: fixed;
		top: 0px;left: 0px;
		background-color: #ff9933;
		width: 100%;height: 100%;
		z-index: 99;
	}
	.register-mobile p{
		font-size: 18px;
		color: #ff9933;
	}
	.register-mobile .navbar{
		background-color: #ff9933;
	}
	.register-mobile .content{
		min-height: 75%;width: 100%;
		background-color: #fff;
		position: absolute;
		top: 60px;left: 0px;
	}
	/*.login-sm .input-group-btn .join a:hover .register-mobile{
    	display: inline;
	}*/
	.register-mobile .login{
		position: absolute; 
		top: 5%; left: 5%; 
		width: 100%; height: 10%;
	}
	.register-mobile .login p{
		text-align: left; 
		font-size: 18px;
		color: #ff9933;
	}
	.register-mobile .name{
		position: absolute; 
		top: 20%; left: 8%;
		font-size: 15px;width: 80%;
		border-color:#7b7b7b;
		border-radius: 2px;
		opacity:0.5;
	}
	.register-mobile .admin{
		position: absolute; 
		top: 32%; left: 8%;
		font-size: 15px;width: 80%;
		border-color:#7b7b7b;
		border-radius: 2px;
		opacity:0.5;
	}
	.register-mobile .password{
		position: absolute; 
		top: 44%; left: 8%;
		font-size: 15px;width: 80%;
		border-color:#7b7b7b;
		border-radius: 2px;
		opacity:0.5;
	}
	.register-mobile .send{
    	position: absolute;
        top: 65%;left: 55%;
    	width: 50px;height: 50px;
    	border-radius: 99px;
        border: 2px solid #ff9933;
    }
	.register-mobile .register-back{
    	position: absolute;
	    top: 65%;left: 30%;
    	width: 50px;height: 50px;
	    border-radius: 99px;
        border: 2px solid #ff9933;
    }
.search-bar{
	background-color: #ff9933;
	position: absolute;
	top: 0%;left:0%;
	width: 100%;height: 60px;
	z-index: 3;
	display:none;
}
.search-bar .search{
	width: 70%;height: 40px;
	float: left;
	opacity: 0.8;
	border-radius: 45px;
	border: 0px;
	padding-left: 15px;
}
.search-bar .search:hover{
	opacity: 1;
}
.search-bar .cancel{
	position: relative;
	right: 1px;
	padding-top: 6px;
	font-size: 30px;
	font-weight: bold;
	color:#fff;
}
.finder .finder-app{
/*	position: relative;
*//*	margin-top: 4px;
*//*	left: -50%;
*/	width:40px;height:40px;
	border-radius:99em;
	border: 3px solid #ff9933;
}
.finder>li>a{
    color: #ff9933;
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
}
.finder>li>a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #ffbb66;
}
@media only screen and (min-width:481px) and (max-width:768px) {
   
	.tem{
  		display: inline;
  	}
	.navbar{
		min-height: 60px;
	}
	.navbar-brand {
	    float: left;
	    height: 60px;
	    padding: 0px 0px;
	}
	.iapplogo{
		width: 80px;
		height: auto;
	}
	.search {
	    position: relative;
	    top: 8px;
	    right: 5px;
	}
	.search-sm{
		display: inline;
	}

	.login-sm{
		display: inline;
	}
	.glyphicon-align-justify{
		margin-top: -2px;
		font-size: 35px;
		color: #ff9933;
	}
	.glyphicon-align-justify:hover{
		color: #ffbb66;
	}
	.select{
		right: 15px;
		border: 0px ;
		background-color: #fff;
	}
	.select:hover{
		border: 0px;
		background-color: #fff;
		border-radius-left: 20px;
	}
	.dropdown-menu-right {
		position: absolute;
		top: 60px;right: 5px;
		width: 95%;
	}
	.input-group .form-control {
		display: none;
	}
	.navbar-btn1 {
	    display: none;
	}
	.navbar-btn2 {
	    display: none;
	}
	.se{
		display: none;
	}
}

@media only screen and (max-width:480px) {
  	.tem{
  		display: inline;
  	}
	.navbar{
		min-height: 60px;
	}
	.navbar-brand {
	    float: left;
	    height: 60px;
	    padding: 0px 0px;
	}
	.iapplogo{
		width: 80px;
		height: auto;
	}
	.search {
	    position: relative;
	    top: 8px;
	    right: 5px;
	}
	.search-sm{
		display: inline;
	}

	.login-sm{
		display: inline;
	}
	.glyphicon-align-justify{
		margin-top: -2px;
		font-size: 35px;
		color: #ff9933;
	}
	.glyphicon-align-justify:hover{
		color: #ffbb66;
	}
	.select{
		right: 15px;
		border: 0px ;
		background-color: #fff;
	}
	.select:hover{
		border: 0px;
		background-color: #fff;
		border-radius-left: 20px;
	}
	.dropdown-menu-right {
		position: absolute;
		top: 60px;right: 5px;
		width: 95%;
	}
	.input-group .form-control {
		display: none;
	}
	.navbar-btn1 {
	    display: none;
	}
	.navbar-btn2 {
	    display: none;
	}
	.se{
		display: none;
	}
}
