body{
	background-color: #f5f5f5;
	font-size: small;
}
.navbar{
	min-height: 80px;
	background-color: white;
	box-shadow: gray 0px 2px 15px 0px;
}
.back-top{
	width: auto;height: auto;
	position: fixed;
	bottom: 2%;
	right: 2%;
	z-index: 999;
}
.tem{
  		display: none;
  	}
.iapplogo{
	width: 92px;
	height: auto;
}
.navbar-brand {
    float: left;
    height: 60px;
    padding: 10px 0px;
	}
.search {
    position: relative;
    top:20px;
    left: 8%;
    width: 90%;
}
.search-sm{
	display: none;
}
.login-sm{
	display: none;
}
.input-group .form-control {
	border: #ff9933 2px solid;
}
.glyphicon-align-justify{
	color: #fff;
}
.glyphicon-align-justify:hover{
	color: #ff9933;
}
.select{
	border: #ff9933 1px solid;
	background-color: #ff9933;
}
.select:hover{
	border: #ff9933 1px solid;
	background-color: #ffbb66;
}
.dropdown-menu-right{
	display: none;
}
.input-group-btn:hover .dropdown-menu-right{
	display: block;
}
.dropdown-menu-right {
	border: #ff9933 1px solid;
	min-width: 80px;
}
.dropdown-menu>li>a:hover {
    color: #000;
    text-decoration: none;
    background-color: #ff9933;
}
.navbar-btn1 {
    margin-top: 12px;
    border: none;
}
.navbar-btn2 {
    margin-top: 10px;
    border: none;
}
.navbar-btn1:hover {
    color: #fff;
    background-color: #ffbb66;	
}
.navbar-btn2:hover {
    color: #fff;
    background-color: #ffbb66;	
}
.icon-box{
	background-color: #ff9933;
	margin-top: 20px;
	width: 130px;
	height: 35px;
	border:1px gray solid;
	border-radius:8px;
}
.icon-box:hover{
	background-color: #ffbb66;
}
.usericon{
	width: auto;height: 35px;
	position: absolute;
	top: -2%;
	left: 0%;
	border:1px gray solid;
	border-radius:8px;
}
.username-icon{
	position: absolute;
	top: -5%;
	left: 35%;
}
.title{
	font-weight: bold;
	color: #ff9933;
}
.title:hover{
	font-weight: bold;
	color: #fff;
}
.se{
	width: 5%;
}
.separate {
    background-color: gray;
    opacity: 0.5;
    width: 2px;
    height: 40px;
    position: relative;
    top: 18px;
    left: 100%;
}
.jumbotron {
    padding-top: 90px;
    background-color: #ff9933;
    height: 280px;
}
.jumbotron p{
	color: #fff;
	margin-bottom: 0px;
    font-size: 1.3em;
    font-weight: 200;
}

.user-icon{
	position: absolute;
    margin-top: 30px;
    left: 45%;
}
.glyphicon-cog{
	color: #fff;
	font-size: 25px;
	position: relative;
    top: 0%;
    left: 0%;
}
.glyphicon-cog:hover{
	color: #aa5b26;
}

.logout-user{
	position: relative;
    top: 100%;left: 97%;
    width: 2%;
}
.logout{
	display: none;
	min-width: 100px;
}
.logout p{
	color: #ff9933;
}
.logout-user:hover .logout{
	display: block;
}
.option-user{
	width: 40%;
	position: absolute;
    margin-top: 130px;
    left: 29%;
}
.option-user p{
	font-size: 22px;
}
/*.separate-user {
    background-color: #fff;
    width: 2px;
    height: 50px;
    position: relative;
    top: 0%;
    left: 50%;
}*/

.my-iapp{
	position: absolute;
    top: 0%;
    left: 22%;
}
.my-iapp:hover{
	border-bottom: 2px #fff solid;
}

.collect-iapp{
	position: absolute;
    top: 0%;
    left: 60%;
}
.collect-iapp:hover{
	border-bottom: 2px #fff solid;
}
.circle-login{
        display: none;
        position: relative;
        margin-top: 7px;
        left: 30%;
        width:40px;height:40px;
        border-radius:99em;
        border: 3px solid #ff9933;
}
@media only screen and (min-width:481px) and (max-width:768px) {
   
	.tem{
  		display: inline;
  	}
	.navbar{
		min-height: 50px;
		background-color: white;
		box-shadow: gray 0px 2px 15px 0px;
	}
	.navbar-brand {
	    float: left;
	    height: 60px;
	    padding: 5px 15px;
	}
	.iapplogo{
		width: 67px;
		height: auto;
	}
	.search {
	    position: relative;
	    top: 8px;
	    right: 5px;
	}
	.search2 {
		background:none;
		border-style: none;
	}
	.search2:hover {
    background: none;
	}
	.search-sm{
		display: inline;
	}
	.icon-box{
		display: none;
	}
	.glyphicon-search{
		margin-top: 8px;
		color: #ff9933;
		font-size: 35px;
		margin-left: -5px;
	}
	.glyphicon-search:hover{
		color: #ffbb66;
	}

	.glyphicon-user{
		margin-top: 8px;
		left: 50%;
		color: #ff9933;
		font-size: 35px;
	}
	.glyphicon-user:hover{
		color: #ffbb66;
	}
	.login-sm{
		display: inline;
	}
	.glyphicon-align-justify{
		font-size: 35px;
		color: #ff9933;
	}
	.glyphicon-align-justify:hover{
		color: #ffbb66;
	}
	.select{
		right: 15px;
		border: 0px ;
		background-color: #fff;
	}
	.select:hover{
		border: 0px;
		background-color: #fff;
		border-radius-left: 20px;
	}
	.dropdown-menu-right{
		border: #ff9933 1px solid;
		right: 20px;
	}
	.input-group .form-control {
		display: none;
	}
	.navbar-btn1 {
	    display: none;
	}
	.navbar-btn2 {
	    display: none;
	}
	.se{
		display: none;
	}
}

@media only screen and (max-width:480px) {
  	.tem{
  		display: inline;
  	}
	.navbar{
		min-height: 50px;
		background-color: white;
		box-shadow: gray 0px 2px 15px 0px;
	}
	.navbar-brand {
	    float: left;
	    height: 60px;
	    padding: 5px 15px;
	}
	.iapplogo{
		width: 67px;
		height: auto;
	}
	.search {
	    position: relative;
	    top: 8px;
	    right: 5px;
	}
	.search2 {
		background:none;
		border-style: none;
	}
	.search2:hover {
    background: none;
	}
	.search-sm{
		display: inline;
	}
	.icon-box{
		display: none;
	}
	.glyphicon-search{
		margin-top: 8px;
		color: #ff9933;
		font-size: 35px;
		margin-left: -5px;
	}
	.glyphicon-search:hover{
		color: #ffbb66;
	}

	.glyphicon-user{
		margin-top: 8px;
		left: 50%;
		color: #ff9933;
		font-size: 35px;
	}
	.glyphicon-user:hover{
		color: #ffbb66;
	}
	.login-sm{
		display: inline;
	}
	.glyphicon-align-justify{
		font-size: 35px;
		color: #ff9933;
	}
	.glyphicon-align-justify:hover{
		color: #ffbb66;
	}
	.select{
		right: 15px;
		border: 0px ;
		background-color: #fff;
	}
	.select:hover{
		border: 0px;
		background-color: #fff;
		border-radius-left: 20px;
	}
	.dropdown-menu-right{
		border: #ff9933 1px solid;
		right: 20px;
	}
	.input-group-btn:hover .dropdown-menu-right{
	display: block;
	}
	.input-group .form-control {
		display: none;
	}
	.navbar-btn1 {
	    display: none;
	}
	.navbar-btn2 {
	    display: none;
	}
	.se{
		display: none;
	}
}
