
.img-container {
  background-color: #f7f7f7;
  overflow: hidden;
  width: 100%;
  text-align: center;
}

.img-container {
  min-height: 200px;
  max-height: 466px;
  margin-bottom: 20px;
}



.img-container > img {
  max-width: 50%;
}

.select{

}
.send{
	
}