
.img-container {
  background-color: #f7f7f7;
  overflow: hidden;
  width: 100%;
  text-align: center;
}

.img-container {
  min-height: 200px;
  max-height: 466px;
  margin-bottom: 20px;
  margin-top: 20px;
}



.img-container > img {
  max-width: 50%;
}

.select{
	width: 80px;height: 30px;
	background-color: #ff9933;
	position: absolute;
	top: 10px;left: 10px;
}
.select p{
	color: #fff;
	font-size: 15px;
	text-align: center;
	padding-top: 5px;
}
.word{
	text-align: right;
	padding: 10px;

}
.send{
	margin-left: 10px;
	border: 2px solid #ff9933; 
	background-color: #fff;
	width: 80px;height: 30px;
}
.send p{
	color: #ff9933;
	font-size: 15px;
}