body{
	margin: 0;
	padding: 0;
	width: auto;height: auto;
}
a{text-decoration:none; color:#ff9933;}
.top{
	position: fixed;
	top: 0%;left: 0%;
	width: 100%;height: 10%;
	background-color: orange;
}
.content{
	position: fixed;
	top: 10%;left: 0%;
	width: 100%;height: 80%;
}
.bottom{
	position: fixed;
	top: 90%;left: 0%;
	width: 100%;height: 10%;
	background-color: orange;
}
.title{
	position: absolute; 
	top: 5%; left: 15%; 
	width:70%; height: 10%;
}
.title p{
	text-align: center; 
	font-size: 22px; 
	font-weight: bold;
	color: #ff9933;
}
.bar{
	position: absolute;
	top: 110%;left: 0%;
	width: 100%;height: 2px;
	background-color: #ff9933;
	opacity: 0.6;
}
.input{
	position: absolute;
	top: 20%;left: 30%;
	width: 80px;height: 50%;
	opacity: 0.8;
}
.input table{
	color: #7d7d7d;
	position: absolute;
	top: 5%;
	left: 0%;
	width: 100%;
}
.input table input{
	width: 300px;
}
.register{
	position: absolute;
	top: 0%;left: 40%;
	width: 20%;height: 80%;
	background-image: url(../img/register.png);
	background-size: contain;
	background-repeat: no-repeat;
}
.tb5 {
	border:2px solid #456879;
	border-radius:10px;
	height: 22px;
	width: 200px;
}
		.confirm{
		    position: absolute;
		    top: 72%;left: 46%;
		    width: 60px;height: 26px;
		    border: 1px #ff9933 solid; 
		    border-radius: 5px;
		}
		.confirm:hover{
		    background: #ffbb66;
		}
		.confirm p{
			color: #ff9933;
			font-size: 18px;
			position:relative;
			top: -50%;left: 20%;
		}
