body {
    background: #fff;
    color: #000;
    word-wrap: break-word;
}
.hide{display: none;}
.show{display: inline;}

.slideShow {
    width: 215px;
    height: 402px;
    position: absolute;
    left: 0%;
    top: -4%;
    overflow: hidden;
}

.slide {
    position: relative;
    top: 0%;
    left: -4.5%;
    z-index: 3;
}

.loading {
    width: 150px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -50px;
    margin-top: -50px;
    -webkit-animation: loading 1.5s linear infinite;
    animation: loading 1.5s linear infinite;
    -moz-animation: loading 1.5s linear infinite;
    -o-animation: loading 1.5s linear infinite;
}

@-webkit-keyframes loading {
    0% {
        transform: scale(1)
    }
    50% {
        transform: scale(0.9)
    }
    100% {
        transform: scale(1)
    }
}

@keyframes loading {
    0% {
        transform: scale(1)
    }
    50% {
        transform: scale(0.9)
    }
    100% {
        transform: scale(1)
    }
}

@-o-keyframes loading {
    0% {
        transform: scale(1)
    }
    50% {
        transform: scale(0.9)
    }
    100% {
        transform: scale(1)
    }
}

@-moz-keyframes loading {
    0% {
        transform: scale(1)
    }
    50% {
        transform: scale(0.9)
    }
    100% {
        transform: scale(1)
    }
}

.back {
    position: absolute;
    bottom: 40px;
    right: 40px;
    font-size: 30px;
    font-weight: bold;
    opacity: 0;
    cursor: pointer;
}

.skip {
    position: absolute;
    bottom: 40px;
    right: 40px;
    font-size: 30px;
    font-weight: bold;
    opacity: 0;
    cursor: pointer;
}

.container {
    position: fixed;
    width: 100%;
    height: 100%;
    letter-spacing: 2px;
    display: none;
}

.container:before {
    content: "";
    display: block;
    position: fixed;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
}

.marg {
    left: 50%;
    top: 50%;
    position: absolute;
}

.page {
    width: 100%;
    height: 100%;
    position: fixed;
}
/*page1 */

.img1 {
    width: 400px;
    height: auto;
    margin-left: -200px;
    text-align: center;
}

.img2 {
    width: 200px;
    height: auto;
    margin-left: -220px;
    text-align: center;
}

.img3 {
    width: 200px;
    height: auto;
    top: 45%;
    margin-left: 60px;
    text-align: center;
    z-index: 4;
}

.img4 {
    width: 200px;
    height: auto;
    top: 70%;
    margin-left: 60px;
    text-align: center;
    z-index: 4;
}

.img5 {
    width: 50px;
    height: auto;
    top: -5%;
    margin-left: 170px;
    text-align: center;
    z-index: 4;
}

.img6 {
    width: 60px;
    height: auto;
    top: -5%;
    margin-left: 290px;
    text-align: center;
    z-index: 4;
}

.img7 {
    width: 40px;
    height: auto;
    top: -5%;
    margin-left: 0px;
    text-align: center;
    z-index: 4;
}

.img8 {
    width: 110px;
    height: auto;
    top: -5%;
    margin-left: 80px;
    text-align: center;
    z-index: 4;
}

.img9 {
    width: auto;
    height: auto;
    top: 10%;
    margin-left: -380px;
    text-align: center;
    z-index: -1;
}

.title1 {
    margin-left: -190px;
    margin-top: -25px;
    letter-spacing: 5px;
    text-align: center;
}

.page1 h1 {
    font-size: 40px;
    font-weight: bold;
}

.test {
    position: absolute;
    margin-left: 320px;
    width: 500px;
    height: auto;
}
/*page2*/

.page2_word {
    width: 480px;
    font-size: 25px;
    position: fixed;
    top: 100%;
    left: 50%;
    margin-left: -50px;
    line-height: 2;
}

.socialbg1 {
    position: absolute;
    top: 20%;
    left: 50%;
    margin-left: -400px;
    width: auto;
    height: auto;
}

.socialbg2 {
    position: absolute;
    top: 20%;
    left: 50%;
    margin-left: -300px;
    width: auto;
    height: auto;
}

.social1 {
    position: absolute;
    width: 80px;
    height: auto;
    left: 50%;
}

.social2 {
    position: absolute;
    width: 80px;
    height: auto;
    left: 50%;
}

.social3 {
    position: absolute;
    width: 95px;
    height: auto;
    left: 50%;
}

.social4 {
    position: absolute;
    width: 130px;
    height: auto;
    left: 50%;
}

.social5 {
    position: absolute;
    width: 70px;
    height: auto;
    left: 50%;
}

.social6 {
    position: absolute;
    width: 110px;
    height: auto;
    left: 50%;
}

.social7 {
    position: absolute;
    width: 75px;
    height: auto;
    left: 50%;
}

.social8 {
    position: absolute;
    width: 105px;
    height: auto;
    left: 50%;
}

.social9 {
    position: absolute;
    width: 85px;
    height: auto;
    left: 50%;
}

.social10 {
    position: absolute;
    width: 115px;
    height: auto;
    left: 50%;
}

.social11 {
    position: absolute;
    width: 100px;
    height: auto;
    left: 50%;
}

.social12 {
    position: absolute;
    width: 95px;
    height: auto;
    left: 50%;
}

.social13 {
    position: absolute;
    width: 100px;
    height: auto;
    left: 50%;
}

.social14 {
    position: absolute;
    width: 65px;
    height: auto;
    left: 50%;
}
/*page3*/

.page3 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100%;
}

.page3_word {
    width: 380px;
    font-size: 25px;
    position: absolute;
    left: 100%;
    margin-left: 267px;
    line-height: 2;
    top: 60%;
}

.mobile {
    position: absolute;
    margin-left: 20px;
    width: 800px;
    top: 0;
    opacity: 0;
}

.phone {
    position: absolute;
    z-index: 1;
    left: 45%;
    top: 17%;
    bottom: 0;
}

.phone_cont {
    width: 216px;
    position: absolute;
    left: 16px;
    top: 58px;
    height: 387px;
    overflow: hidden;
}

.phone_ {
    width: 250px;
}

.phone_1 {
    width: 100%;
    height: 400px;
    z-index: 2;
    position: relative;
}

.iapp {
    position: absolute;
    top: -74px;
    width: 245px;
    left: -8px;
    z-index: 1;
}

.digital {
    position: absolute;
    top: -74px;
    width: 245px;
    left: -8px;
    z-index: 1;
}

.test1 {
    position: absolute;
    width: 220px;
    height: 365px;
    z-index: 1;
}

.any1 {
    position: absolute;
    bottom: -60px;
    width: 100%;
    left: 50%;
    margin-left: -100px;
    top: 30%;
    font-weight: bold;
    font-size: 50px;
}

.any2 {
    position: absolute;
    bottom: -60px;
    width: 100%;
    left: 50%;
    margin-left: 300px;
    top: 0%;
    font-weight: bold;
    font-size: 50px;
}

.title2 {
    margin-left: 300px;
    margin-top: 400px;
    letter-spacing: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}
