 body {
     margin: 0;
     padding: 0;
     width: auto;
     height: auto;
 }
 
 a {
     text-decoration: none;
     color: #ff9933;
 }
 
 .top {
     position: absolute;
     top: 5%;
     left: 0;
     right: 0;
     margin: auto;
     width: 90%;
     height: 12%;
 }
 
 .top p {
     font-size: 24px;
     margin-top: 35px;
     font-weight: normal;
     color: orange;
     text-align: center;
 }
 
 .bar {
     position: absolute;
     top: 50%;
     left: 10%;
     width: 80%;
     height: 2px;
     background-color: #7d7d7d;
     opacity: 0.5;
 }
 
 .bar3 {
     position: absolute;
     top: 110%;
     left: 0%;
     width: 100%;
     height: 3px;
     background-color: #ff9933;
 }
 
 .store {
     position: absolute;
     top: 80%;
     left: 50%;
     margin-left: 10px;
     width: 60px;
     height: 26px;
     border: 1px #ff9933 solid;
     border-radius: 5px;
     text-align: center;
     line-height: 26px;
 }
 
 .store:hover {
     background: #ffbb66;
     color: #fff;
 }
 
 .cancel {
     position: absolute;
     top: 80%;
     left: 50%;
     margin-left: -70px;
     width: 60px;
     height: 26px;
     border: 1px #ff9933 solid;
     border-radius: 5px;
     line-height: 26px;
     text-align: center;
 }
 
 .cancel:hover {
     background: #ffbb66;
     color: #fff;
 }
 
 .file {
     display: block;
     width: 100%;
     height: 20px;
     margin-top: 5px;
     line-height: 20px;
     text-align: center;
     font-size: 14px;
     border: 1px #ff9933 solid;
     border-radius: 5px;
 }
 
 .file:hover {
     background: #ffbb66;
     color: #fff;
 }
 
 .profile {
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     margin: auto;
     width: 50%;
     height: 40%;
 }
 
 .profile .t1 {
     position: absolute;
     top: 0;
     right: 0;
     width: 70%;
 }
 
 .profile .t2 {
     position: absolute;
     top: 60%;
     left: 25%;
 }
 
 .profile th {
     color: #7d7d7d;
     /* padding: 5px; */
     /* padding: 0; */
     padding-bottom: 15px;
     width: 100%;
 }
 
 th input[type="password"] {}
 
 #pw1 {
     width: 100%;
 }
 
 #pw2 {}
 
 th input[type="text"] {
     width: 100%;
 }
 
 .logo-file {
     position: absolute;
     top: 0;
     right: 0;
     margin-left: -80px;
     width: 100%;
 }
 
 .logo-file img {
     width: 100%;
 }
 
 .logo-file p {
     color: #ff9933;
     font-size: 16px;
     position: relative;
     top: 20%;
     left: 10%;
 }
 
 .HeadMove {
     width: 30%;
     height: 124px;
     position: relative;
 }
