
#nav
{
    /*background-image: url(../imgs/menu_bg.jpg);*/
    border-top:solid 5px #FF9801;
    border-bottom:solid 5px #FF9801;
    background-color:#FEF1DE;
    width: 100%;
    height: 40px;
    text-align: center;
    font-size: 1.1em; 
}
    
ul.mainul
{    
    list-style-type: none;   
    padding:0 15px 0 15px;    
    margin:0 auto;

    }
    
    
    li.mainli
    { 
        float:left;
        height: 33px;
        margin: 1px 0 0 0;
        padding:0;
        position:relative;
    top: -15px;
    left: 0px;
    width:20%;
}

    
        .lc 
        {
            /*border-left: solid 1px #FD9C00;*/   
            }
        .mainli a:link
        {     
            display: block;
            height:24px; 
            line-height:24px;
            text-align:center; 
            text-decoration:none;  
            width: 100%;
            overflow: hidden;
            color:#333;
            border-right: dotted 1px #CCCCCC;
        }
        
        .mainli a:visited
        {
            display: block;
            height:24px; 
            line-height:24px;
            text-align:center; 
            text-decoration:none;  
            width: 100%;
            overflow: hidden;
            color:#333;
            border-right: solid 1px #FD9C00;
        }

        .mainli a:hover
        { 
            color:#ffffff;
            background-color:#FD9C00;
        }
           
    
    .subul
    {   
        border:solid 1px #fff;    
        list-style-type: none;  
        position:absolute; 
        z-index:3000;
        display:none;
        background-color:#FD9C00;
        margin:0;
        padding:0 0 0 0;
        left:-1px;
        border: solid 2px #FD9C00;
        border-top: dotted 1px #FEF1DE;
    }
        #nav >  ul > li a:hover.mainlink
        { 
            color:#ffffff;
            background-color:#FD9C00;
        }
           
    
    #nav >  ul > li > ul
    {  
        list-style-type: none;  
        position:absolute; 
        z-index:3000;
        display:none;
        background-color:#FD9C00;
        margin:0 auto;
        padding:0 0 0 0;
        left:-1px;
        border: solid 2px #FD9C00;
        border-top: dotted 1px #FEF1DE;
    }
    #nav >  ul > li:hover > ul
    {  
        display:block; 
    }
      
        #nav >  ul > li > ul > li a:link
        {   
            display: block;
            height:28px; 
            line-height:28px;
            text-align:left;
            text-indent:10px; 
            text-decoration:none;  
            color:#fff;
            width: 230px;
            overflow: hidden;
            border-bottom: dotted 1px #FEF1DE;
        }
        #nav > ul > li > ul > li a:visited
        {    
            display: block;
            height:28px; 
            line-height:28px;
            text-align:left;
            text-indent:10px; 
            text-decoration:none;  
            color:#fff;
            width: 180px;
            overflow: hidden;
            border-bottom: dotted 1px #FEF1DE;
        }
        #nav > ul > li > ul > li a:hover
        {    
            text-decoration:none;  
            background-color:#FEF1DE;
            color:#333;  
        }
#l2css li{
           /* 讓各個清單元素靠左對齊，由原本的垂直排列變成水平排列，形成水平清單 */
   　　  float:left;

        　/* 設定清單文字範圍的寬度 */
    　　 width:178px;
        
        　/* 去除清單文字前面的小點*/
　   　  list-style-type:none;
        　        
        　/* 讓清單文字居中對齊 */
    　　 text-align:center;
        　
           /* 設定背景色，依個人喜好調整背景色，但要符合整設計風格 */
           background-color:#6E6E6E;

        　/* 設定字距為2px，非必要 */
        　letter-spacing: 2px;
        
        　/* 設定左邊的白邊樣式，可依個人喜好調整 */
        　border-left-width: 1px;
        　border-left-style: solid;
        　border-left-color: #FFF;
        
        　/* 右邊留白1像素 ，可依個人喜好調整*/
           margin-right:1px;
}
#l2css li a{
        　/* 連結範圍充滿整個區塊 */
    　　 display: block;
        
        　/* 單個連結範圍的框度和高度*/
        　width: 180px;
        　height:20px;
        
           /* 設定連結範圍向上的內距，依狀況調整 */
        　padding-top:2px;
        
        　/* 連結的文字設為白色以及無裝飾(無底線) ，依個人喜好調整背景色，但要符合整設計風格*/
        　color: #FFF;
        　text-decoration: none;
}
#l2css li a:hover{
           /* 設定滑鼠移過時，清單改變的底色設定 */
           background-color:#39919F;
}