html{
    height: 100%;
}
body {
    /*background-color: #f5f5f5;*/
    /*font-size: small;*/
    height: 100%;
    /*min-height: 435px;*/
}

/*keyframes*/
@keyframes tinDownOut1 {
    0%,
    10% {
        transform: rotateZ(0deg);
        -ms--ms-transform: rotateZ(0deg);
        -moz-transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
    }
    4%,
    8% {
        transform: perspective(200px) rotateZ(10deg);
        -ms-transform: perspective(200px) rotateZ(10deg);
        -moz-transform: perspective(200px) rotateZ(10deg);
        -webkit-transform: perspective(200px) rotateZ(10deg);
    }
    2%,
    6% {
        transform: perspective(200px) rotateZ(-10deg);
        -ms-transform: perspective(200px) rotateZ(-10deg);
        -moz-transform: perspective(200px) rotateZ(-10deg);
        -webkit-transform: perspective(200px) rotateZ(-10deg);
    }
}
@keyframes logomove {
   0% {
    transform:scale(1)
    }
    100% {
    transform:scale(0)
    }
}
@keyframes BGdisno {
    0% {
        opacity:1;
    }
    100% {
        opacity:0;
        z-index:0;
        display:none;
    }
}
a {
    text-decoration: none;
    color: #ff9933;
}

a:hover {
    text-decoration: none;
    color: #ffbb66;
}
.LoginAni {
    background-color:#fff;
    width:100%;
    height:100%;
    position:absolute;
    z-index:999;
    -webkit-animation:BGdisno 1s 4s both cubic-bezier(.87,-.41,.19,1.44);
}
.Storelogo,
.Logohouse {
    width:200px;
    height: 130px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -100px;
    margin-top: -65px;
}
.Storelogo {
    -webkit-animation:logomove 1s 3s both cubic-bezier(.87,-.41,.19,1.44);
}
.Logohouse {
    width:40px !important;
    height:40px;
    margin-left: 29px;
    margin-top: -102px;
    -webkit-animation:tinDownOut1 2s both infinite cubic-bezier(.87,-.41,.19,1.44);
}
    .Storelogo img {
        width:100%;
    }


.login-mobile {
    position: fixed;
    /*background-color: #ff9933;*/
    width: 100%;
    height: 100%;
    z-index: 99;
}

.iapplogo {
    width: 80px;
    height: auto;
}

.login-mobile p {
    font-size: 18px;
    color: #ff9933;
}

.navbar {
    background-color: #ff9933;
    margin-bottom: 0px;
}

.content {
    height: calc(100% - 113px);
    min-height: 300px;
    padding: 5% 5% 5% 5%;
    /*width: 100%;*/
    background-color: #fff;
    /* margin-top: 63px; */
    /* position: absolute; */
    overflow: scroll;
}
.content .login{
    margin: 5px 0 5px 0;
}

/*.login-sm .input-group-btn:hover .login-mobile{
    	display: inline;
	}*/

.login-mobile .fb {
    /* position: absolute; */
    margin: 30px 0;
    /*height: 10%;*/
}

.login-mobile .fb p {
    text-align: left;
    font-size: 18px;
    color: #ff9933;
}

.login-mobile .fb-img {
    /*position: absolute;*/
    
    width: 100%;
}

/*.login-mobile {
    
    top: 40%;
    left: 5%;
    width: 100%;
    height: 10%;
}*/

.login-mobile .login p {
    text-align: left;
    font-size: 18px;
    color: #ff9933;
}

.login-mobile .login-input {
    /*position: absolute;*/
    
    font-size: 15px;
    /*width: 90%;*/
    opacity: 0.5;
}

.login-mobile .admin {
    display: block;
    font-size: 1.2em;
    width: 100%;
    border: 1px solid #7b7b7b;
   
    border-radius: 0px;
    border-bottom: 0px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    padding: 8px;
}

.login-mobile .password {
    display: block;
    font-size: 1.2em;
    width: 100%;
    border: 1px solid #7b7b7b;
    
    border-radius: 0px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    padding: 8px;
}

.bar {
    /*position: absolute;*/
    /*width: 90%;*/
    width: 100%;
    height: 2px;
    background-color: #ff9933;
    margin-bottom: 10px;
}

.login-mobile .send {
    /*position: absolute;*/
    display: inline-block;
    margin-top: 5%;
    margin-left: 10%;
    width: 50px;
    height: 50px;
    border-radius: 99px;
    border: 2px solid #ff9933;
}

.glyphicon-ok {
    position: relative;
    top: 12%;
    left: 12%;
    font-size: 35px;
    color: #ff9933;
}



.login-mobile .login-back {
    /*position: absolute;*/
    display: inline-block;
    margin-left: calc(45% - 50px);
    width: 50px;
    height: 50px;
    border-radius: 99px;
    border: 2px solid #ff9933;
}

.glyphicon-remove {
    /*position: absolute;*/
    top: 14%;
    left: 13%;
    font-size: 35px;
    color: #ff9933;
}

.glyphicon-arrow-left {
    /*position: absolute;*/
    top: 12%;
    left: 12%;
    font-size: 35px;
    color: #ff9933;
}
.glyphicon:active{
    color: #ffbb66;
}
.footer {
    /*position: absolute;*/
    /* top: 90%; */
    /* left: 0%; */
    width: 100%;
    height: 50px;
    padding-top: 8px;
    padding-right: 5%;
    background-color: #ff9933;
    text-align: right;
    /* display: flex; */
}

.footer p{
    display: inline;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    /*padding-left: 40%;*/
    padding-top: 5px;
}

.join {
    
padding:6px 12px;
    
display: inline-block;
    
color: #ff9933;
    
font-size: 17px;
    
background-color: #fff;
    
border-radius: 5px;
}



.register-mobile {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    /*background-color: #ff9933;*/
    width: 100%;
    height: 100%;
    z-index: 99;
}

.register-mobile p {
    font-size: 18px;
    color: #ff9933;
}

.register-mobile .navbar {
    background-color: #ff9933;
}

.register-mobile .content {
    min-height: 75%;
    /*width: 100%;*/
    background-color: #fff;
    /*position: absolute;*/
    top: 60px;
    left: 0px;
}


/*.login-sm .input-group-btn .join a:hover .register-mobile{
    	display: inline;
	}*/

.register-mobile .register-input {
    /*position: absolute;*/
    top: 20%;
    left: 5%;
    font-size: 15px;
    width: 100%;
    opacity: 0.5;
}

.register-mobile .login {
    /*position: absolute;*/
    
}

.register-mobile .login p {
    text-align: left;
    font-size: 18px;
    color: #ff9933;
}

.register-mobile .name {
    display: block;
    font-size: 1.2em;
    width: 100%;
    border: 1px solid #7b7b7b;
   
    border-radius: 0px;
    border-bottom: 0px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    padding: 8px;
}

.register-mobile .admin {
    display: block;
    font-size: 1.2em;
    width: 100%;
    border: 1px solid #7b7b7b;
   
    border-radius: 0px;
    border-bottom: 0px;
    padding: 8px;
}

.register-mobile .password {
    display: block;
    font-size: 1.2em;
    width: 100%;
    border: 1px solid #7b7b7b;
   
    border-radius: 0px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    padding: 8px;
}

.register-mobile .send {
/*    position: absolute;*/
    /*top: 80%;*/
    display: inline-block;
    margin-left: calc( 50% - 100px);
    width: 50px;
    height: 50px;
    border-radius: 99px;
    border: 2px solid #ff9933;
}

.register-mobile .register-back {
    display: inline-block;
    margin-top: 5%;
    margin-left: 25%;
    width: 50px;
    height: 50px;
    border-radius: 99px;
    border: 2px solid #ff9933;
}
