body{
	margin: 0;
	padding: 0;
	width: auto;height: auto;
    background-color: #fff;
}

a{text-decoration:none; color:#ff9933;}
 
.content{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 80%;
} 
.title{
	    margin: auto;
    width: 70%;
    height: 10%;
    border-bottom: 2px solid #ff9933;
}
.title p{
	text-align: center; 
	font-size: 22px; 
	font-weight: bold;
	color: #ff9933;
}

/*.input *, .input{
	
}*/
    /*.input tr td {
        outline:1px solid #000;
    }*/
.input {
    width:500px;
    /*outline:4px solid #000;*/
    margin:40px auto;
    position:relative;
}
    .input tr td:nth-child(1) {
        /*outline:1px solid #f00;*/
        width:10%;
    }
    .input tr td:nth-child(2) {
        /*outline:1px solid #0f0;*/
        width:90%;
    }
    .input tr td:nth-child(3) {
        /*outline:1px solid #00f;*/
          width: 120px;
    height: 25px;
    line-height: 25px;
    position: absolute;
    right: -130px;
    }
.input table{
	color: #7d7d7d;
	
	width: 100%;
}
.Sendbox_1 {
        display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
}
.tsty {
    width: 100%;
    height:25px;
    display:table-cell;
    vertical-align:middle;
}
.tb5 {
	border:2px solid #456879;
	border-radius:10px;
	height: 22px;
	width: 200px;
}
		.confirm{
		    position: absolute;
		    top: 55%;left: 53%; 
		}
.close {
    position: absolute;
    top: 55%;
    left: 42%;
}
.clearfix {
   clear:both;
}
