body{
	margin: 0;
	padding: 0;
	width: auto;height: auto;
}
.hide{ display:none;}
.show{ display:block;}


.content{
	position: fixed;
	top: 10%;left: 0%;
	width: 100%;height: 80%;
}
.content2{
	position: fixed;
	top: 10%;left: 0%;
	width: 100%;height: 80%;
}

.content .middle-bar{
	position: absolute;
	top: 5%;left: 50%;
	width: 2px;height: 90%;
	background-color: #CCCCCC;
	opacity: 0.8;
}
.bar{
	position: absolute;
	top: 100%;left: 0%;
	width: 100%;height: 2px;
	background-color: #ffbb66;
}
.bar2{
	position: absolute;
	top: 110%;left: 0%;
	width: 80%;height: 4px;
	background: -webkit-linear-gradient(left,#ee7700,#ffffff);
	background: -o-linear-gradient(left,#ee7700, #ffffff);
	background: linear-gradient(left,#ee7700, #ffffff);
	background: -webkit-linear-opacity(1,0);
	background: linear-opacity(1,0);
	opacity: 0.6;
}
.bar3{
	position: absolute;
	top: 110%;left: 0%;
	width: 100%;height: 6px;
	background: -webkit-radial-gradient(center,ellipse farthest-side,#ee7700,#ffffff);
	background: -o-radial-gradient(center,ellipse farthest-side,#ee7700, #ffffff);
	background: radial-gradient(center,ellipse farthest-side,#ee7700, #ffffff);
	background: -webkit-linear-opacity(1,0);
	background: linear-opacity(1,0);
	opacity: 1;
}
.input{
	position: absolute;
	top: 20%;left: 5%;
	width: 40%;height: 30%;
	background-color:white;
	opacity: 0.8;
}
.input-fb{
	position: absolute;
	top: 20%;left: 55%;
	width: 40%;height: 30%;
	background-color: #CCCCCC;
	opacity: 0.8;
}
.login{
	position: absolute;
	top: 0%;left: 1%;
	width: 20%;height: 80%;
}
.register{
	position: absolute;
	top: 0%;left: 25%;
	width: 20%;height: 80%;
	background-image: url(../img/register.png);
	background-size: contain;
	background-repeat: no-repeat;
}
.logo{
	position: absolute;
	top: 80%;left: 3%;
	width: 13%;height: 66%;
	z-index: 3;
	background-image: url(../img/logo2.png);
	background-size: contain;
	background-repeat: no-repeat;
}
.logo-dig{
	position: absolute;
	top: 90%;left: 86%;
	width: 26%;height: 5%;
	z-index: 3;
	background-image: url(../img/logo-digital.png);
	background-size: contain;
	background-repeat: no-repeat;
}
<<<<<<< HEAD
.tb5 {
	border:2px solid #456879;
	border-radius:10px;
	height: 22px;
	width: 180px;
}
=======
ul{
	list-style: none;
}
#box{
	position: absolute;
	top: 18%; left: 5%;
	height: auto;
	width: 80%;
}
#box ul li{
	width: 80%; height: 5%;
	margin: 1%;
}
>>>>>>> origin/master
